// TODO: Remove with Parcel2
@import '../../../../assets/main.scss';

:root {
    --key-elevation: 15px;
}

.key {
    color: black;
    margin: 10px;
    padding: 15px 20px;
    display: inline-block;
    border: 5px solid black;
    border-radius: 10px 10px 25px 25px;

    text-decoration: none;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: bolder;

    box-shadow: 0 var(--key-elevation) 0 -5px #CCC,
		0 var(--key-elevation) 0 black;
  
    transition: .2s;
  
    &:active {
	box-shadow: 0 5px 0 -5px #CCC,
		    0 5px 0 black;
	transform: translateY(15px)
    }
}
