@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

$breakpoints: (phone: 640px,
               tablet: 768px,
               desktop: 1024px) !default;

:root {
    --main-margin: 20px;
    --primary-color: black;
    --primary-font: 'Special Elite';
}
